<form method="POST">
    <input name="first_name" required placeholder="{{author.first_name}}" />
    <input name="last_name" required placeholder="{{author.last_name}}" />
    <button type="submit">Update</button>
</form>
