<br>
<style>
    font{
        color: red;
    }
</style>
{{#each shopping}}
    <div style="text-align: center">
        &nbsp;&nbsp;&nbsp;&nbsp;productName:<font>{{this.name}}</font>&nbsp;&nbsp;&nbsp;&nbsp;price:<font>{{this.price}}</font>&nbsp;&nbsp;&nbsp;&nbsp;status:<font>dont have store</font>
    </div>
{{/each}}