<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer App</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Mega&family=Rammetto+One&display=swap" rel="stylesheet"> 
</head>
<body>
    <header>
        <h1> <a href="/">Customer App</a> </h1>        
    </header>
    <nav>
        <section style="text-align:left;">
            <a href="/">Home</a>&nbsp; | &nbsp;<a href="/author-management">Author Management</a>  |  <a href="/goods">Goods</a>  |  <a href="/shopping">Shopping</a>
            <hr size="30">
        </section>
    </nav>
    <main>
        {{{body}}}
    </main>
</body>
</html>