/* central area to control type and colour */
:root {  
    --text-big: 36px;
    --text-medium: 22px;
    --text-small: 16px;
    --font-body: 'Lexend Mega', sans-serif;
    --font-heading: 'Rammetto One', cursive;
    --color-dark: #7A280A;
    --color-medium: #F8B5A5;
    --color-light: #F8EDEC;
    --color-grey: #EEEEEE;
}

/* elements that are on every page */
body {
    font-family: var(--font-body);
    font-size: var(--text-medium);
    background-color: var(--color-light);
    color: var(--color-dark);
}

header, footer {
    color: var(--color-dark);
    background-color: var(--color-medium);
    text-align: center;
    font-family: var(--font-heading);
    margin: 0;
}

header {    /* "sticky header" which stays at the top of the screen */
    position: sticky;
    top: 0;
}

h1 {
    text-align: center;
    font-size: var(--text-big);
    color: var(--color-dark);
    margin-top: 0;
}

a {
    text-decoration: none;  /* switch off underlining of anchors */
}

a:hover {                   /* instead, get anchors to expand when hovered over */
    font-size: larger;
  }

header h1 a {
    color: var(--color-dark);
}

footer p {
    margin-bottom: 0;
}

table {
    width: 25%;
}

hr {
    border: none;
    height: 3px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}


/* the Browse authors page showing all the authors */

#authorList p {   /* the words at the top of the page */
    text-align: center;
    flex-basis: 60%;
}

#authorList ul {  /* the list of authors */
    padding: 0;
}

#authorList li {  /* each individual author listing */
    list-style-type: none;          /* switch off bullet-points */    
    display: flex;
    flex-direction: row;            /* image and text are side-by-side */
    justify-content: flex-start;    /* text aligns left */
    align-items: center;            /* and vertically aligns to center */
}

#authorList img {     /* images in author listings */
    width:  140px;
    height: 80px;
    padding: 10px;
}

#authorList a {   /* the author names */
    color: var(--color-dark);
}
       
form {        /* centre the form */
    display: flex;
    justify-content: center;
}

form input {
    font-size: var(--text-medium);
}

form input[type$=submit] {  /* submit button - note use of attribute selector */
    background-color: var(--color-medium);
}

form span.bigScreen {   /* on small screens, hide some of the wording */
    display: none;
}



/* the page showing details about an individual author */

#oneauthor-details {  /* picture, description and table */
    display: flex;
    flex-direction: column;
}

#oneauthor-text {
    padding: 10px;
}

#oneauthor img {          /* centre the image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 100%;
}

#oneauthor p {            /* the "description" text */
    font-size: var(--text-small);
    text-align: center;
}

#oneauthor table {        /* the table of nutritional data */
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    background-color: var(--color-grey);
    border: solid grey 1px;
}

#oneauthor td:first-child {   /* the first td in each row of the table */
    text-decoration: underline;
    text-align: right;
}

a#favourite {   /* the heart-shaped 'favourite' button */
    font-size: 100px;
    color: lightgrey;
    display: block;
    text-align:center;
    margin: 0;
}

a#favourite:hover {
    color:green;
}

/* Modal (background) */
.modal-background {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

/* Modal (content) */
.modal-foreground {
    background-color: var(--color-medium);
    text-align: center;
    margin: 30% auto; /* 15% from the top and centered */
    width: 50%; 
  }

/* Responsive Design */

@media screen and (min-width: 768px) {	/* for tablet-sized screens */

    #authorList ul {      /* flow author list into two columns */
        column-count: 2;
    }

    #oneauthor-details {
        flex-direction: row; /* now picture and text are side-by-side */
    }

    #oneauthor-picture, #oneauthor-text {   /* divide the sceren into two halves */
        flex-basis: 50%;
    }

    #oneauthor p#description {        /* increase font size of author description */
        font-size: var(--text-medium);
        text-align: left;
    }

    form span.bigScreen {   /* spell out abbreviated words in full */
        display: inline;
    }

}

@media screen and (min-width: 1200px) {	/* for big screens */

    #authorList ul {      /* flow author list into three columns */
        column-count: 3;
    }

}

@media screen and (min-width: 1600px) {	/* for very big screens */

    #authorList ul {      /* flow author list into four columns */
        column-count: 4;
    }

}
